body{
    margin:0;
    box-sizing:content-box;
    font-family: 'DM Sans', sans-serif;
    text-align:justify;
}

#dark{
    background-color:#26262C;
    width:50%;
}

#card-dark{
    background-color:#1C1C21;
    box-shadow: 2px 2px 7px #000000;
    color:#fcfcfc;
    background-image: url(./images/logo-dark.svg);
    background-repeat: no-repeat;
    background-position: center 75%;
    background-size: 65%;
}

#card-dark > .main > .about > p, #card-dark > .main > .interests > p{
    color:#fcfcfc;
}

#head-dark{
    background-color: #131316;
    border-radius:10px 10px 0 0;
    padding:20px;
}

#light{
    background-color: #ededed;
    width:50%;
}

#card-light{
    background-color: #FCFCFC;
    box-shadow: 2px 2px 7px #333333;
    color:#0D1821;
    background-image: url(./images/logo-light.svg);
    background-repeat: no-repeat;
    background-position: center 75%;
    background-size: 65%;
}

#head-light{
    background-color: #CAD9E6;
    border-radius:10px 10px 0 0;
    padding:20px;
}

.container{
    display:flex;
    height:100vh;
}

.head{
    text-align:center;
    letter-spacing:-1px;
}

.card{
    margin:30px auto 0;
    padding: 0 0 20px 0;
    border-radius: 10px;
    width:400px;
    min-height: 80vh;
}

.social{
    display:flex;
    justify-content: space-evenly;
}

.social-icon{
    width:50px;
    height:auto;
}

.main{
    padding:20px;
}

.about > h1, .interests > h1{
    font-size:20px;
}

.headshot{
    width:100px;
    height:100px;
    border-radius: 50%;
    border: 5px solid;
}